# For serving a Dart Site

server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	gzip on;
	gzip_min_length 1000;
	log_not_found on;
	log_subrequest on;

	root /home/andreas/Git/Hayya-Nabnee-Frontend/web/;
	index index.html;

	server_name localhost;

	location / {
		try_files $uri $uri/ =404;
	}

	location ~ /packages/(.+)$ {
		alias /home/andreas/Git/Hayya-Nabnee-Frontend/packages/$1;
		expires 30d;
		add_header Pragma public;
		add_header Cache-Control "public";
	}

	#error_page 404 /404.html;

	# redirect server error pages to the static page /50x.html
	#
	#error_page 500 502 503 504 /50x.html;
	#location = /50x.html {
	#	root /usr/share/nginx/html;
	#}
}
