.large-form{
  width: 300px;
  margin: 40px auto;
}
.large-form input[type=text],
.large-form input[type=email],
.large-form input[type=password]{
  display:block;
  background: #fff;
  border:1px solid #888;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  width: 290px;
  margin-bottom: 10px;
}
.large-form input.ng-invalid.ng-dirty{
  border-color:#ff0000;
  background:#ffcccc;
}
.large-form .submit-container{
  margin-top: 40px;
  text-align: right;
}
.large-form .link{
  display:block;
  float: right;
}


#sign_in_with_facebook{
  display: block;
  text-decoration: none;
  background: #3b579d;
  color: #fff;
  border-radius:3px;
  font-size: 20px;
  height: 30px;
  margin:60px 0 30px 0;
  text-align: center;
  padding: 4px;
}
img[alt="Facebook-Icon"]{
  position:relative;
  top:2px;
}
#large-or-text{
  font-size: 33px;
  text-align: center;
}
#large-or-text #text{
  padding: 15px;
  background:#ddd;
}
#large-or-text::after{
  position:relative;
  top: -20px;
  margin-top:5px;
  display:block;
  content:'';
  border-bottom:1px solid #888;
  z-index: -1;
}
