h1{
  font-size:40px;
  margin-bottom: 20px;
}
h2{
  color: #333;
  font-size: 30px;
  margin-bottom: 15px;
}
h2::after{
  margin-top:5px;
  display:block;
  content:'';
  width: 100%;
  border-bottom:1px solid #888;
}
h3{
  font-size: 25px;
  font-weight:bold;
}
h4{
  color: #555;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}
#website_title{
  color:#eee;
  font-weight:bold;
  font-size: 45px;
  line-height: 60px;
  text-shadow: 0 0 1px #333;
}
#website_slogan{
  color:#333;
  font-weight: bold;
  font-size: 20px;
}
