input[type=submit], input[type=button], a{
  cursor:pointer;
}
.medium-blue-button{
  border:1px solid #005482;
  background:#0078b9;
  color: #eee;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  margin: 0;
}
.small-dark-link{
  text-decoration: underline;
  color:#333;
  font-size:17px;
}


#upper_area .link{
  color: #333;
  text-decoration: underline;
  margin-right: 12px;
}

#upper_area .link:hover{
  color: #555;
}
#upper_area .button{
  background: #333;
  border-radius:3px;
  color:#ddd;
  padding: 5px;
  border:1px solid #111;
  /*To remove the side padding's effect on positioning*/
  margin: -5px;
  text-decoration: none;
}
#language_selection_area .language{
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
#language_selection_area .language:hover{
  text-decoration: underline;
}
#middle_menu .link{
  color: #eee;
  text-decoration: none;
  font-size: 22px;
  margin:10px;
  padding:10px;
  background:#333;
  border:1px solid #333;
}
#middle_menu .link:hover{
  background:#444;
  border-color:#222;
}
