#upper_menu .link{
  color: #333;
  text-decoration: underline;
}
[d=l] #upper_menu .link{
  margin-right: 8px;
}
[d=r] #upper_menu .link{
  margin-left: 8px;
}

#upper_menu .link:hover{
  color: #555;
}
#upper_menu .button{
  text-decoration: none;
  padding: 5px;
  /*To remove the side padding's effect on positioning*/
  margin: -5px;
  background: #444;
  color:#ccc;
}
#language_selection_area .language{
  color: inherit;
  font-weight: bold;
}
#language_selection_area .language:hover{
  text-decoration: underline;
}
