body{
  color:#222;
  font-family:"Arial Black", Gadget, serif;
  font-size:16px;
  min-width:360px;
  opacity: 100;
  background:#ddd;
}
body[ng-cloak]{
  display:none;
}
#upper_area{
  padding:10px;
  background:#FF7519;
}
#title_area{
  padding: 10px;
  text-align: center;
}
#upper_menu{
  font-size: 18px;
  height: 40px;
}
#upper_menu #right_area{
  float:right;
}
#language_selection_area{
  /* This stays the same regardless of language - for the sake of consistency */
  text-align:left;
  font-size: 18px;
  color: #ccc;
}
