body{
  color:#222;
  font-family:"Arial";
  font-size:18px;
  min-width:360px;
}
body[ng-cloak]{
  display:none;
}
#upper_area{
  padding:10px;
  background:#4C910F;
}
#title_area{
  padding: 30px;
  text-align: center;
}
#upper_menu{
  height: 40px;
}
[d=l] #upper_menu #right_area{
  float:right;
}
[d=r] #upper_menu #right_area{
  float:left;
}
#language_selection_area{
  font-size: 18px;
  color: #ccc;
}
