body{
  color:#222;
  font-family:"Arial";
  font-size:16px;
  min-width:360px;
  opacity: 100;
  background:#ddd;
}
body[ng-cloak]{
  display:none;
}
#content[d=l]{
  text-align: left;
}
#content[d=r]{
  text-align: right;
}
#upper_area{
  padding:10px;
  background:#4C910F;
}
#title_area{
  padding: 30px;
  text-align: center;
}
#upper_menu{
  font-size: 18px;
  height: 40px;
}
[d=l] #upper_menu #right_area{
  float:right;
}
[d=r] #upper_menu #right_area{
  float:left;
}
#language_selection_area{
  /* This stays the same regardless of language - for the sake of consistency */
  text-align:left;
  font-size: 18px;
  color: #ccc;
}
