<!DOCTYPE HTML>
<html lang="{{'Locale Code'|i}}" dir="auto" d="{{'Locale Direction'|i}}">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <script type="application/dart" src="app.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </head>
  <body i18n-switch ng-cloak>
    <div ng-if="languageSwitch.showBody != false">
      <div id="upper_area">
        <div id="upper_menu">
          <a href="/" class="link">{{'Home'|i}}</a>
          <span id="right_area">
            <a href="" class="link">{{'Sign In'|i}}</a>
            <a href="" class="button">{{'Sign Up'|i}}</a>
          </span>
        </div>
        <div id="title_area">
          <div id="website_title">{{'Hayya Nabnee'|i}}</div>
          <div id="website_slogan">{{'Let\'s Build'|i}}</div>
        </div>
        <div id="language_selection_area">
          <a class="language" ng-repeat="locale in languageSwitch.getOtherLocales() | orderBy:''" ng-click="languageSwitch.setLocale(locale)" href="">
            {{locale|i:'g'}}
          </a>
        </div>
      </div>
      Sample Text
      <ng-view></ng-view>
    </div>
  </body>
</html>
